[
	{dbm,       [{cookie, ct11}, {name, 'dbm_xx@192.168.199.88'}, {dbhost, "localhost"}, {dbport, 3306}, {dbusr, "root"}, {dbpsw, "123456"}, {dbdatabase, "db_xx"}, {dbcode, utf8}, {serverid,1}
	]},
	{gateway,     [{cookie, ct11}, {dbm, 'dbm_xx@192.168.199.88'}, {name, 'gateway_xx@192.168.199.88'}, {index, 1}, {ip, "192.168.199.46"}, {port, 8000}, {max_connection_num, 2000}]},
	{world,     [{cookie, ct11}, {dbm, 'dbm_xx@192.168.199.46'}, {name, 'world_xx@192.168.199.88'}]},
	{agent_ctr,     [{cookie, ct11}, {dbm, 'dbm_xx@192.168.199.88'}, {name, 'agent_ctr_xx1@192.168.199.88'},{index, 1},{maxagent,250}]},
	{scene_ctr, [{cookie, ct11}, {dbm, 'dbm_xx@192.168.199.88'}, {name, 'scene_ctr_xx1@192.168.199.88'}, {index, 1},{maxscene,2000}]}
].
